.wall, .path, .beginning, .end {
  height: 20px;
  width: 20px;
}

.wall {
  background-color: #000;
}

.path {
  color: #FFF;
}

.beginning {
  background-color: red;
  color: red;
}

.end {
  background-color: blue;
  color: blue;
}